@import "../abstracts/mixins";
.news-container {
  width: 80%;
  position: relative;
  margin: 5rem auto 0;
  @include flex(column, flex-start, center);

  & .news-all {
    width: 100%;
    margin-top: 4rem;
  }

  & .news-list,
  & .loading {
    margin-top: 32px;
  }
  & .news-list {
    @include flex(row, space-between, center);
    flex-wrap: wrap;
  }

  & .loading {
    width: 100%;
    @include flex(row, center, center);
  }
}
