@import "../abstracts/mixins";
.dropdown-container {
  width: 240px;
  position: relative;
  & p {
    font-size: 14px;
    color: #343434;
  }
  & .select {
    width: 100%;
    height: 32px;
    border: 1px solid #2e2e2e;
    padding: 5px 12px;
    @include rounded(4px);
    @include flex(row, space-between, center);
    cursor: pointer;

    & .arrow {
      width: 7px;
      height: 7px;
      border: 1px solid #2e2e2e;
      border-right: none;
      border-top: none;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
}
  }
  & .dropdown {
    position: absolute;
    top: 100%;
    height: fit-content;
    box-shadow: 0 2px 2px 0 #dad8d8;
    width: 100%;
    z-index: 99999;
    background: #fff;
    & .option {
      width: 100%;
      height: 48px;
      padding: 12px;
      cursor: pointer;
      background: #fff;
      @include flex(row, flex-start, center);
      & p {
        margin-left: 12px;
      }
      &.selected,
      &:hover {
        background: rgba(234, 234, 234, 0.2);
      }
    }
  }
}
