.spinner div {
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #606060;
  border-radius: 50%;
  animation: spinner 1.2s linear infinite;
  border-color: #606060 transparent transparent transparent;
  -webkit-animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
